__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Pytest cache
.pytest_cache/

# Python virtual environments
.venv/

# VS Code
.vscode/

# Ignore config files you don't want to commit
configs/imerio*
configs/carlo*

# Ignore all output files and directories
output/

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore copyright update scripts
update_copyright.py

# Ignore mailmap file
.mailmap

# Ignore exercises
learn.py

# Temporary folder
tmp/
