__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# Ignore config files you don't want to commit
configs/imerio*
configs/carlo*

# Ignore all output files and directories
output/

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore SPDX update scripts
check_copyright.sh
update_copyright_year.sh

# Ignore mailmap file
.mailmap

# Ignore exercises
learn.py

# Output from the console
console.txt

# Temporary folder
tmp/
