__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Pytest cache
.pytest_cache/

# Python virtual environments
.venv/

# VS Code
.vscode/

# Ignore all output files and directories
output/

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore copyright update scripts
update_copyright.py

# Ignore mailmap file
.mailmap

# Ignore exercises
learn.py

# Ignore temporary folder
tmp/

# Ignore personal data folder
personal/
